#app{
  //max-width: 850px;
  //margin: 0 auto;
}

#sign-in-form{
  max-width: 300px;
  margin: 0 auto;
}

.user-card{
  width: 300px;
  padding: 20px;
  margin: 5px;
}

.user-list{
  justify-content: space-evenly;
  margin: 30px auto;
}
